---
import { Users } from "@phosphor-icons/react"
import { getCharacters } from "rickmortyapi"

import CharacterCard from "@/components/CharacterCard.astro"
import Hero from "@/components/Hero.astro"
import Layout from "@/layouts/Layout.astro"
import Root from "@/layouts/Root.astro"
import { getTranslation } from "@/utils/i18n"
import { tc } from "@/utils/tc"

const res = await tc(getCharacters())
const characters = res ? res.data.results : []

export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "pt" } }]
}

const { t } = getTranslation(Astro.currentLocale)
---

<Root
  title={t("pages.characters.title")}
  description={t("pages.characters.description")}
  keywords={t("pages.characters.keywords")}
>
  <Layout>
    <Hero title={t("pages.characters.title")} description={t("pages.characters.description")}>
      <Users slot="icon" />
    </Hero>
    <ul class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      {characters?.map((character) => <CharacterCard {...character} />)}
    </ul>
    {
      res?.data.info?.pages && res.data.info.pages > 1 && (
        <div class="flex w-full items-center justify-between gap-2">
          <span class="text-sm font-medium">{t("commons.itemsCount", { count: res.data.info.count })}</span>
          <div class="join">
            <button class="btn join-item btn-soft">«</button>
            <button class="btn join-item btn-soft">Page 1</button>
            <button class="btn join-item btn-soft">»</button>
          </div>
        </div>
      )
    }
  </Layout>
</Root>
