---
import { getRelativeLocaleUrl } from "astro:i18n"

interface Props {
  route: string
}

const { route } = Astro.props
const redirectUrl = getRelativeLocaleUrl("en", route)
---

<!doctype html>
<head>
  <title>Redirecting</title>
  <meta http-equiv="refresh" content={`0; url=${redirectUrl}`} />
  <meta name="robots" content="noindex, follow" />
  <link rel="canonical" href={redirectUrl} />
</head>
<body>
  Redirecting to <a href={redirectUrl}>{redirectUrl}</a>
</body>
